.j-button {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-indent: 0.089em;
  letter-spacing: 0.089em;
  outline: 0;
  line-height: 1;
  margin: 0;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
.j-button:focus {
  outline: none;
}
.j-button::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2spx;
  pointer-events: none;
  background-color: #888;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s;
}
.j-button:active::after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s;
}
.j-button-default {
  background-color: #2f90b9 !important;
  border-color: #2f90b9 !important;
}
.j-button-success {
  background-color: #66c18c !important;
  border-color: #66c18c !important;
}
.j-button-warning {
  background-color: #e8b004 !important;
  border-color: #e8b004 !important;
}
.j-button-danger {
  background-color: #ee2746 !important;
  border-color: #ee2746 !important;
}
.j-button {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-indent: 0.089em;
  letter-spacing: 0.089em;
  outline: 0;
  line-height: 1;
  margin: 0;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
.j-button:focus {
  outline: none;
}
.j-button::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2spx;
  pointer-events: none;
  background-color: #888;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s;
}
.j-button:active::after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s;
}
.j-button-default {
  background-color: #2f90b9 !important;
  border-color: #2f90b9 !important;
}
.j-button-success {
  background-color: #66c18c !important;
  border-color: #66c18c !important;
}
.j-button-warning {
  background-color: #e8b004 !important;
  border-color: #e8b004 !important;
}
.j-button-danger {
  background-color: #ee2746 !important;
  border-color: #ee2746 !important;
}
